@import url('https://fonts.googleapis.com/css?family=Karla');

.heatmap {
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.tooltip {
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0 10px;
  font-size: 12px;
  border-radius: 5px;
}
